#heading{
    text-align: center;
    margin: 1rem 0rem;
    color: #909090;
}

#aboutDiv div img {
    max-height: 13rem;
}

#aboutDiv{
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
    width: 80%;
    /* border: 1px solid rgb(212, 212, 212); */
    background-color: white;
    margin: auto;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}

#otherDetailesDiv{
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(212, 212, 212); */
    margin-top: 1rem;
}
.row{
    margin: .4rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.row div:first-of-type{
    margin-right: 5rem;
}

#aboutDiv .cols:first-of-type{
    /* border-right: 1px solid rgb(212, 212, 212); */
    padding-right: 1rem;
}

#bioDiv{
    margin: .4rem;
    border-bottom: 1px solid rgb(212, 212, 212);
    /* background-color: chartreuse; */
    padding-bottom: 1rem;
}

#aboutDiv .cols:last-of-type{
    margin-left: 1rem;
}
.cols{
    display: flex;
    flex-direction: column;
    color: #505050;
}

#avatar{
    margin: 1em 0em;
}
.cols.dp {
    max-width: 12rem;
}

.cols.dp input {
    border: 1px solid darkgrey;
    padding: .5em;
}

.dp button {
    border: none;
    padding: .5em;
    background: steelblue;
    font-size: medium;
    color: aliceblue;
    cursor: pointer;
    border-radius: .3rem;
    outline: none;
}

.dp button:hover{
    background-color: rgb(52, 111, 158);
    transition: 200ms background-color ;
}

.dp small {
    margin-bottom: 1em;
    color: red;
}

.dp button:disabled{
    background-color: rgb(133, 184, 226);
    color: rgb(255, 255, 255);
    cursor: auto;
}