#contactDiv {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 50%;
    margin: auto;
    justify-content: center;
}

#contactDiv form{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    padding: 1rem;
    margin: .5rem 0rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    background-color: white;
    border-radius: .5em;
}

#contactDiv form div{
    display: flex;
    justify-content: space-between;
}

#contactDiv form div div{
    display: flex;
    flex-direction: column;
    width: 30%;
}

#contactDiv form textarea{
    margin: 1rem 0rem;
    resize: none;
    outline: none;
    padding: .5rem;
    border: 1px solid #bfbfbf;
    font-size: medium;
}

#contactDiv form div div input{
    padding: .2em .4em;
    outline: none;
    font-size: medium;
    border: 1px solid #bfbfbf;
    border-radius: .2rem;
}

#contactDiv form div div input:focus, #contactDiv form textarea:focus {
    box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px, rgb(0 36 167 / 11%) 0px 2px 16px 0px;
    transition: box-shadow 150ms ease-in-out;
}

#contactDiv form button{
    padding: .7rem 0rem .8rem 0rem;
    font-weight: 600;
    font-size: medium;
    color: whitesmoke;
    border: none;
    background-color: steelblue;
    letter-spacing: .08em;
    text-transform: uppercase;
    cursor: pointer;
}

#contactDiv form button:hover{
    background-color: rgb(60, 109, 148) ;
    transition: background-color 150ms ease-in-out;
}
#contactDiv form button:active{
    border: 1px solid rgb(88, 88, 88);
}

#contactDiv h2{
    text-align: center;
    color: #909090;
    margin: 1.2rem 0rem;
}



#contactDiv form div div label{
    color: #2a4646;
}

ul.errorMessage {
    margin-left: 1.2em;
    color: red;
    margin-bottom: 1rem;
}

ul.successMessage {
    color: green;
    margin-bottom: 1em;
    /* margin-left: 1.2em; */
    padding: 1rem 2rem;
    background-color: #00800040;
}