.logo{
    color: whitesmoke;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 8rem;
    background-color: lightcoral;
    height: 4rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    z-index: 100;
}

.nav_links{
    list-style: none;
    display: flex;
    flex-direction: row;
    font-weight: 700;
}

.nav_links a{
    text-decoration: none;
    color: black;
}

.nav_links a li {
    margin: 0rem 0rem 0rem 1.6rem;
    color: darkslategrey;
}

.nav_links a li:hover {
    color: whitesmoke;
    transition: color 150ms;
}